:root {
    /* global */
    --main-font: Roboto;
    --font-size-smaller: 18px;
    --font-size-small: 24px;
    --font-size-large: 36px;
    --font-size-larger: 48px;
    --font-weight-heavy: 900;
    --font-weight-italic: light-italic;

    --white-color: #F9FAF8;
    --off-white-color: #E5E7EB;
    --light-blue-color: #3882F6;
    --dark-blue-color: #1F2937;
}

body {
    font-family: var(--main-font);
}

h1 {
    color: var(--hero-main-font-color);
}

header {
    background-color: var(--dark-blue-color);
}